<%= simple_form_for @list do |f| %>
  <%= f.input :name, placeholder: "Write the list name here" %>
  <%= f.input :photo, as: :file %>
  <div class="new-btn">
    <%= f.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>